{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'work:work_list'%}">Work</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'work:category_list' %}">Category</a>
  </li>
</ul>
<a href="{% url 'work:category_create'%}" class='btn btn-primary w-100 stiky-top mt-1'>Create</a>

<ul class='list-group list-group-flush m-1'>
    {% for category in category_list %}
        <a href="{{ category.get_absolute_url }}" class='list-group-item row'>
            <span class='col d-inline-block'>{{ category.name }}</span>
        </a>
    {% endfor %}
</ul>
{% endblock %}