{% extends 'base.html' %}

{% block content %}
<div class="card text-left m-1">
  <div class="card-header">
    {{workcommit.created_at}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ workcommit.name}}</h5>
    <p class="card-text">
        <p>point: {{ workcommit.point }}</p>
        <p>description: {{workcommit.description}}</p>
    </p>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'work:work_detail' workcommit.work.id %}" class="btn btn-success">Work</a>
    <a href="{% url 'work:workcommit_list' workcommit.work.id %}" class="btn btn-primary">History</a>
  </div>
</div>
{% endblock %}