
{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="card text-left m-1">
  <div class="card-header">
      {{workexectedrecode.created_at}}に作成
  </div>
  <div class="card-body">
    <div class="card-title">
      <h5>{{ workexectedrecode.name }}</h5>
    </div>
    <p class="card-text">
      <p>得点: {{workexectedrecode.point}}</p>
      <p>実行者: {% for executer in workexectedrecode.executers.all %}{{executer.username}}, {% endfor %}</p>
      <p>実行日: {{workexectedrecode.exected_date}}</p>
    </p>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'work:workexectedrecode_delete' workexectedrecode.id %}" class="btn btn-danger
      {% if not user in workexectedrecode.executers.all %} disabled {% endif %}">Delete</a>
  </div>
</div>
{% endblock %}