{% extends 'base.html' %}
{% load charts %}

{% block content %}
<div class="card text-left m-1">
  <div class="card-header">
    {{ work.name}}
    <span class="badge badge-info inline">
      {% if work.get_latest_exected %}
        {{ work.get_latest_exected.exected_date }}に実行
      {% else %}
        未実行  
      {% endif %}
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">
        <p>updated_at: {{work.updated_at}}</p>
        <p>point: {{work.point}}</p>
        <p>description: {{work.description}}</p>
        <p>alert: {{ work.alert }}</p>
    </p>
    
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'work:work_update' work.id %}" class="btn btn-success">Update</a>
    {% if work.id %}
      <a href="{% url 'work:work_workexectedrecode_list' work.id %}" class="btn btn-primary">History</a>
    {% else %}
      <a href="{% url 'work:work_workexectedrecode_list' work.id %}" class="btn btn-primary">History</a>
    {% endif %}
    <a href="{% url 'work:work_delete' work.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endblock %}