{% extends "base.html" %}
{% block content %}
<div class="card text-left m-2">
  <div class="card-header">
    User
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ user.username}}</h5>
    <p class="card-text">Group: {{ user.group.name }}</p>
    <p class="card-text">Email: {{ user.email }}</p> 
    <p class="card-text">Point: {{ user.calc_point }}</p> 
  </div>
  <div class="card-footer text-muted">
    <a class='btn btn-success' href="{% url 'accounts:setting' user.pk %}">Edit</a>
  </div>
</div>
{% endblock %}