<table class="table table-sm" id='users-point-form-table'>
  <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Total</th>
        <th scope="col">Monthly</th>
    </tr>
  </thead>
  <tbody>
    {% for row in table %}
        <tr>
            <th scope='row'>
                <div class="custom-control custom-checkbox">
                    <input 
                        type="checkbox" 
                        class="custom-control-input executer-checkbox" 
                        id="user_checkbox_{{ row.user.pk }}" 
                        name="user"
                        value="{{row.user.pk}}"
                        autocomplete='off'
                        {% ifequal row.user.username user.username%} checked {%endifequal%}
                    >
                    <label class="custom-control-label" for="user_checkbox_{{ row.user.pk }}">
                        {{ row.user.username}}
                    </label>
                </div>
            </th>
            <td>{{ row.total_point }}</td>
            <td>{{ row.monthly_point }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>