
{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="card text-left m-1">
  <div class="card-header">
      {{recode.updated_at}}に更新
  </div>
  <div class="card-body">
    <div class="card-title">
      <h5>{{ recode.name }}</h5>
    </div>
    <p class="card-text">
      <p>カテゴリー: {{recode.category}}</p>
      <p>得点: {{recode.point}}</p>
      <p>実行者: {{recode.executer.username}}</p>
      <p>実行日: {{recode.date}}</p>
    </p>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'history:recode_delete' recode.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
{% endblock %}