
{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
{% endblock %}

{% block content %}
<div class="card text-left m-1">
  <div class="card-header">
      {{recode.created_at}}に作成
  </div>
  <div class="card-body">
    <div class="card-title">
      <h5>{{ recode.workcommit.name }}</h5>
    </div>
    <p class="card-text">
      <p>カテゴリー: {{recode.workcommit.work.category}}</p>
      <p>得点: {{recode.workcommit.point}}</p>
      <p>実行者: {% for executer in recode.executers %}{{executer.username}}, {% endfor %}</p>
      <p>実行日: {{recode.exected_date}}</p>
    </p>
  </div>
  <div class="card-footer text-muted">
    <a href="{% url 'history:recode_delete' recode.id %}" class="btn btn-danger
      {% if user in recode.executers %} disabled {% endif %}">Delete</a>
  </div>
</div>
{% endblock %}