{% extends 'base.html' %}
{% load static %}
{% block head %}
  {{ data|json_script:"score_user_data"}}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="{% static 'stats/js/score_user.js' %}"></script>
{% endblock %}

{% block content %}
<a href="{% url 'history:recode_create'%}" class='btn btn-primary w-100 stiky-top m-1'>Create</a>
<div id="curve_chart" style="width: 100%; height: 400px"></div>
<ul class='list-group list-group-flush m-1'>
    {% for recode in recode_list %}
        <a href="{{ recode.get_absolute_url }}" class="list-group-item row">
            <span class='col-3 d-inline-block p-0'>{{ recode.exected_date|date:'y/m/d' }}</span>
            <span class='col-2 d-inline-block p-0'>{{ recode.executers }}</span>
            <span class='col-5 d-inline-block'>{{ recode.name }}</span>
            <span class='col-1 d-inline-block text-right p-0'>{{ recode.point }}</span>
        </a>
    {% endfor %}
</ul>
{% endblock %}