<ul class='list-group list-group-flush m-1'>
    {% for recode in recode_list %}
        <a href="{{ recode.id }}" class='list-group-item row'>
            <span class='col-3 d-inline-block p-0'>{{ recode.date|date:'y/m/d' }}</span>
            <span class='col-2 d-inline-block p-0'>{{ recode.executer }}</span>
            <span class='col-5 d-inline-block'>{{ recode.name }}</span>
            <span class='col-1 d-inline-block text-right p-0'>{{ recode.point }}</span>
        </a>
    {% endfor %}
</ul>